#word-cloud > ul {
    padding: 0;
    margin: 0 auto;
    max-width: 70%;
    > li {
        list-style: none;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        a {
            color: DimGrey;
            text-decoration: none;
        }

        // Sentiment colouring
        .high-sentiment {
            color: ForestGreen;
        }
        .low-sentiment {
            color: DarkRed;
        }

        // Sizes for each of the links
        .size-1 {
            font-size: 12px;
        }
        .size-2 {
            font-size: 18px;
        }
        .size-3 {
            font-size: 22px;
        }
        .size-4 {
            font-size: 26px;
        }
        .size-5 {
            font-size: 30px;
        }
        .size-6 {
            font-size: 36px;
        }
    }

    .infopane-container {
        display: none;
        z-index: 100;
        position: absolute;
        left: 8px;
        width: 250px;
        background: #373737;
        color: #fefefe;
        padding: 8px;
        border-radius: 3px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        &:before {
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            content: '';
            top: -10px;
            left: 5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #373737;
        }
        &.show-info {
            display: block;
        }
        .close {
            position: absolute;
            top: 5px;
            right: 10px;
            font-weight: bold;
            text-decoration: none;
            color: #fefefe;
        }
        ul {
            padding: 0;
        }
        li {
            list-style: none;
            text-transform: capitalize;
            h2 {
                max-width: 215px;
                margin: 0 0 4px 0;
                font-weight: bold;
            }
        }
    }
}
